
.carddiv{
    display:flex;
    flex-wrap: wrap;
    box-shadow: 1px 2px 2px black;
  
}
.c1{
    text-align: center;
     width: 300px;
     background-color:white;
    
     border: 2px solid black;
     border-radius: 20px;
     margin: 10px;
     margin-left: 100px;
  
     box-shadow: rgba(15, 15, 97, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}
.c1:hover{
    transform: scale(1.1);
}
button{
    

}
button{
    box-shadow: 1px 2px 2px gray;
    margin: 10px;
    border-radius: 10px;
    
}
button:hover{
    background-color: lightpink;
}
h3{
    text-align: center;
    background-color:lightgrey;
    padding: 10px;
    margin: 2px;

  
}
h3:hover{
    transform: scale(1.1);
}
h6{
    color: red;
}

h2{
  background-color: lightgrey;
  color:red;
  
  text-align: center;
  margin:0px;
  padding: 10px;
  text-decoration: underline;
  
}
h2:hover{
 transform: scale(1.2);
}
